body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

#phrase_display {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 36px;
    font-weight: bold;
}

#phrase_display:hover {
    cursor: pointer;
}

.trashword {
    color: none;
}

.keyword {
    color: none;
}

.disabled {
    pointer-events: none;
}