body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

#phrase_display {
    font-family: 'Ubuntu Mono', monospace;
}

.trashword {
    color: none;
}

.keyword {
    color: none;
}